<img class="card-img-top" [src]="art.url" />
<div class="card-body">
  <h4 class="card-title">
    <a [routerLink]="['/arts', art.artId]">{{ art.title | titlecase }}</a>
  </h4>
  <p class="card-text" [innerText]="art.description"></p>
  <div class="row mr-4 align-items-center">
    <img [src]="art.user?.avatar" class="rounded-circle col" style="width: 50px" />
    <div class="col">
      <small>{{ art.user?.username }}</small>
    </div>
  </div>
</div>

<div class="card-footer text-muted">
  Autor: {{ art.author}}
  <span class="float-right">Likes: {{ art.likes}}</span>
</div>
<div class="card-footer text-muted">
  {{ art.artDate }}
</div>
