<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <!-- <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderLikes()">Orden por likes</a>
    </li>
  </ul>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="text"
      [(ngModel)]="search"
      name="search"
      placeholder="Search"
      aria-label="Search"
    />
  </form>
</nav>
<div
  class="card-columns mt-4"
  *ngIf="arts && arts.length; else noArts"
>
  <art-item
    class="card"
    [art]="art"
    (deleted)="deleteArt(art)"
    *ngFor="let art of arts | artFilter: search"
  >
  </art-item>
</div>
<ng-template #noArts>
  <h3>No hay arts disponibles</h3>
</ng-template>
