<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ArtGallery</a>
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/arts']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/users']"
        [routerLinkActive]="['active']"
        >Artistas</a
      >
    </li>
  </ul>
  <ul class="navbar-nav mr-auto" *ngIf="logged">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/arts', 'add']"
        [routerLinkActive]="['active']"
        >Añadir arte</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/arts', 'add']"
        [routerLinkActive]="['active']"
        >Perfil</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/users']"
        [routerLinkActive]="['active']"
        >Editar Perfil</a
      >
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="logged">
    <li class="nav-item">
    <a class="nav-link logout-link" href="#" (click)="logout()">Salir</a>
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="!logged">
    <li class="nav-item">
      <a
        class="nav-link login"
        [routerLink]="['/auth/register']"
        [routerLinkActive]="['active']"
        >Crear cuenta</a
      >
    </li>
    <li class="nav-item">
    <a
      class="nav-link login"
      [routerLink]="['/auth/login']"
      [routerLinkActive]="['active']"
      >Iniciar Sesión</a
    >
    </li>
  </ul>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
