<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ArtGallery</a>
  <ul class="navbar-nav mr-auto" *ngIf="logged">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/arts']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Arts</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/arts', 'add']"
        [routerLinkActive]="['active']"
        >Añadir art</a
      >
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="logged">
    <li class="nav-item">
    <a class="nav-link logout-link" (click)="logout()">Salir</a>
    </li>
  </ul>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
