<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderDate()">Ordenar por fecha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderUsername()">Ordenar alfabéticamente</a>
    </li>
  </ul>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="text"
      [(ngModel)]="search"
      name="search"
      placeholder="Buscar"
      aria-label="Search"
    />
  </form>
</nav>
<div
  class="card-columns mt-4"
  *ngIf="users && users.length; else noUsers"
>
  <user-item
    class="card"
    [user]="user"
    (searchedUser)="searchUser(user)"
    *ngFor="let user of users | userFilter: search"
  >
  </user-item>
</div>
<ng-template #noUsers>
  <h3>No hay artistas disponibles</h3>
</ng-template>
